In [144]:
import math
import numpy as np
import numpy.linalg as la
import pandas as pd
import matplotlib.pyplot as plt

In [145]:
data_file = pd.ExcelFile("NYU Spring 2019 Assignment 3 data.xls")
#read first sheet
bond_index = pd.read_excel(data_file, "VBTLX", skiprows=[0])
columns = bond_index.columns.values
columns[0] = "Year"

#read second sheet
int_growth = pd.read_excel(data_file, "VWILX", skiprows=[0])
columns = int_growth.columns.values
columns[0] = "Year"

#read third sheet
metal = pd.read_excel(data_file, "VGPMX", skiprows=[0])
columns = metal.columns.values
columns[0] = "Year"

#read fourth sheet
stock_index = pd.read_excel(data_file, "VTSAX", skiprows=[0])
columns = stock_index.columns.values
columns[0] = "Year"

#read fifth sheet
int_value = pd.read_excel(data_file, "VTRIX", skiprows=[0])
columns = int_value.columns.values
columns[0] = "Year"

#read sixth sheet
reit = pd.read_excel(data_file, "VGSLX", skiprows=[0])
columns = reit.columns.values
columns[0] = "Year"

#read sixth sheet
money_market = pd.read_excel(data_file, "VMRXX", skiprows=[0])
columns = money_market.columns.values
columns[0] = "Year"

In [146]:
int_growth

    Year      Q1      Q2      Q3      Q4
0   2018  0.0339  0.0071 -0.0151 -0.1476
1   2017  0.1267  0.1026  0.1068  0.0413
2   2016 -0.0201  0.0052  0.1083 -0.0670
3   2015  0.0549  0.0118 -0.1299  0.0709
4   2014 -0.0074  0.0314 -0.0491 -0.0293
5   2013  0.0312 -0.0215  0.1368  0.0733
6   2012  0.1396 -0.0780  0.0707  0.0682
7   2011  0.0327  0.0162 -0.2230  0.0599
8   2010  0.0255 -0.1216  0.1986  0.0725
9   2009 -0.1023  0.2711  0.1925  0.0427
10  2008 -0.0903 -0.0166 -0.1974 -0.2316
11  2007  0.0296  0.0888  0.0408 -0.0037

# Question 1, Calculate excess return

In [215]:
bond_index_excess = bond_index[["Q1", "Q2", "Q3", "Q4"]] - money_market[["Q1", "Q2", "Q3","Q4"]]
int_growth_excess = int_growth[["Q1", "Q2", "Q3", "Q4"]] - money_market[["Q1", "Q2", "Q3","Q4"]]
metal_excess = metal[["Q1", "Q2", "Q3", "Q4"]] - money_market[["Q1", "Q2", "Q3","Q4"]]
stock_index_excess = stock_index[["Q1", "Q2", "Q3", "Q4"]] - money_market[["Q1", "Q2", "Q3","Q4"]]
int_value_excess = int_value[["Q1", "Q2", "Q3", "Q4"]] - money_market[["Q1", "Q2", "Q3","Q4"]]
reit_excess = reit[["Q1", "Q2", "Q3", "Q4"]] - money_market[["Q1", "Q2", "Q3","Q4"]]

In [216]:
# bond_index excess return
bond_index_excess

        Q1      Q2      Q3      Q4
0  -0.0186 -0.0065 -0.0051  0.0102
1   0.0070  0.0122  0.0044  0.0008
2   0.0298  0.0223  0.0027 -0.0334
3   0.0163 -0.0181  0.0115 -0.0065
4   0.0190  0.0196  0.0016  0.0171
5  -0.0008 -0.0243  0.0052 -0.0020
6   0.0024  0.0213  0.0152  0.0010
7   0.0022  0.0223  0.0398  0.0094
8   0.0168  0.0357  0.0239 -0.0138
9  -0.0001  0.0163  0.0361  0.0003
10  0.0121 -0.0169 -0.0098  0.0372
11  0.0017 -0.0194  0.0162  0.0185

In [217]:
# int_growth excess return
int_growth_excess

        Q1      Q2      Q3      Q4
0   0.0300  0.0023 -0.0205 -0.1535
1   0.1246  0.1000  0.1039  0.0381
2  -0.0212  0.0039  0.1069 -0.0687
3   0.0547  0.0116 -0.1302  0.0704
4  -0.0075  0.0313 -0.0492 -0.0294
5   0.0310 -0.0216  0.1366  0.0732
6   0.1393 -0.0783  0.0704  0.0679
7   0.0322  0.0158 -0.2233  0.0596
8   0.0251 -0.1220  0.1980  0.0720
9  -0.1060  0.2696  0.1916  0.0420
10 -0.1003 -0.0228 -0.2033 -0.2384
11  0.0166  0.0757  0.0275 -0.0162

In [218]:
# metal excess return
metal_excess

        Q1      Q2      Q3      Q4
0  -0.0969  0.0067 -0.1523 -0.1405
1   0.1035 -0.0209  0.0187  0.0227
2   0.3146  0.3471  0.0131 -0.1647
3  -0.0370 -0.0060 -0.2193 -0.0569
4   0.0715  0.0531 -0.1346 -0.0932
5  -0.1546 -0.2301  0.0297 -0.0328
6   0.0251 -0.1933  0.1219 -0.0632
7   0.0024 -0.0516 -0.1767 -0.0012
8   0.0393 -0.1134  0.2319  0.2088
9   0.0174  0.2606  0.2400  0.1027
10  0.0746  0.1085 -0.4315 -0.3734
11  0.0755  0.1191  0.0584  0.0182

In [219]:
# stock_index excess return
stock_index_excess

        Q1      Q2      Q3      Q4
0  -0.0099  0.0343  0.0655 -0.1485
1   0.0558  0.0277  0.0425  0.0602
2   0.0083  0.0256  0.0426  0.0395
3   0.0177  0.0006 -0.0730  0.0621
4   0.0202  0.0485 -0.0004  0.0523
5   0.1100  0.0278  0.0625  0.1009
6   0.1288 -0.0318  0.0621  0.0015
7   0.0631 -0.0006 -0.1526  0.1211
8   0.0599 -0.1134  0.1158  0.1163
9  -0.1104  0.1677  0.1644  0.0577
10 -0.1048 -0.0216 -0.0911 -0.2340
11  0.0006  0.0476  0.0023 -0.0457

In [220]:
# int_value excess return
int_value_excess

        Q1      Q2      Q3      Q4
0  -0.0102 -0.0368  0.0045 -0.1260
1   0.0785  0.0551  0.0643  0.0458
2  -0.0062  0.0000  0.0590 -0.0128
3   0.0416  0.0120 -0.1344  0.0241
4  -0.0009  0.0502 -0.0575 -0.0569
5   0.0213 -0.0004  0.1179  0.0697
6   0.1221 -0.0783  0.0719  0.0827
7   0.0182  0.0066 -0.2076  0.0502
8   0.0146 -0.1600  0.1794  0.0656
9  -0.1326  0.2479  0.2066  0.0172
10 -0.0929 -0.0213 -0.1945 -0.2119
11  0.0195  0.0702  0.0137 -0.0318

In [221]:
# reit excess return
reit_excess

        Q1      Q2      Q3      Q4
0  -0.0850  0.0835 -0.0002 -0.0703
1   0.0075  0.0135  0.0060  0.0107
2   0.0616  0.0667 -0.0161 -0.0314
3   0.0470 -0.1048  0.0198  0.0699
4   0.0997  0.0701 -0.0314  0.1429
5   0.0805 -0.0162 -0.0302 -0.0072
6   0.1069  0.0370 -0.0005  0.0246
7   0.0644  0.0354 -0.1458  0.1521
8   0.1003 -0.0402  0.1309  0.0739
9  -0.3240  0.2981  0.3454  0.0904
10  0.0114 -0.0595  0.0477 -0.3883
11  0.0209 -0.1066  0.0107 -0.1413

# Calculate var & inv var

Since the quarter data for each year, we first need to convert each dataframe to a column of numbers, where the number of rows is equal to the total quarters we have, i.e. 44 quarters. Since we only care about the mean and the variance, the order doesn't matter.

In [222]:
# column vector of bond return
bond_vec = np.array(bond_index[["Q1", "Q2", "Q3", "Q4"]]).reshape((-1,1))

# column vector of int growth return
int_growth_vec = np.array(int_growth[["Q1","Q2","Q3","Q4"]]).reshape((-1,1))

# column vector of metal return
metal_vec = np.array(metal[["Q1","Q2","Q3","Q4"]]).reshape((-1,1))

# column vector of stock return
stock_vec = np.array(stock_index[["Q1","Q2","Q3","Q4"]]).reshape((-1,1))

# column vector of int value return 
int_value_vec = np.array(int_value[["Q1","Q2","Q3","Q4"]]).reshape((-1,1))

# column vector or reit return
reit_vec = np.array(reit[["Q1","Q2","Q3","Q4"]]).reshape((-1,1))

money_market_vec = np.array(money_market[["Q1","Q2","Q3","Q4"]]).reshape((-1,1))

return_mat = np.hstack([bond_vec, int_growth_vec, metal_vec, stock_vec, int_value_vec, reit_vec, money_market_vec])
pd.DataFrame(return_mat)

         0       1       2       3       4       5       6
0  -0.0147  0.0339 -0.0930 -0.0060 -0.0063 -0.0811  0.0039
1  -0.0017  0.0071  0.0115  0.0391 -0.0320  0.0883  0.0048
2   0.0003 -0.0151 -0.1469  0.0709  0.0099  0.0052  0.0054
3   0.0161 -0.1476 -0.1346 -0.1426 -0.1201 -0.0644  0.0059
4   0.0091  0.1267  0.1056  0.0579  0.0806  0.0096  0.0021
5   0.0148  0.1026 -0.0183  0.0303  0.0577  0.0161  0.0026
6   0.0073  0.1068  0.0216  0.0454  0.0672  0.0089  0.0029
7   0.0040  0.0413  0.0259  0.0634  0.0490  0.0139  0.0032
8   0.0309 -0.0201  0.3157  0.0094 -0.0051  0.0627  0.0011
9   0.0236  0.0052  0.3484  0.0269  0.0013  0.0680  0.0013
10  0.0041  0.1083  0.0145  0.0440  0.0604 -0.0147  0.0014
11 -0.0317 -0.0670 -0.1630  0.0412 -0.0111 -0.0297  0.0017
12  0.0165  0.0549 -0.0368  0.0179  0.0418  0.0472  0.0002
13 -0.0179  0.0118 -0.0058  0.0008  0.0122 -0.1046  0.0002
14  0.0118 -0.1299 -0.2190 -0.0727 -0.1341  0.0201  0.0003
15 -0.0060  0.0709 -0.0564  0.0626  0.0246  0.0704  0.0005
16  0.0191 -0.0074  0.0716  0.0203 -0.0008  0.0998  0.0001
17  0.0197  0.0314  0.0532  0.0486  0.0503  0.0702  0.0001
18  0.0017 -0.0491 -0.1345 -0.0003 -0.0574 -0.0313  0.0001
19  0.0172 -0.0293 -0.0931  0.0524 -0.0568  0.1430  0.0001
20 -0.0006  0.0312 -0.1544  0.1102  0.0215  0.0807  0.0002
21 -0.0242 -0.0215 -0.2300  0.0279 -0.0003 -0.0161  0.0001
22  0.0054  0.1368  0.0299  0.0627  0.1181 -0.0300  0.0002
23 -0.0019  0.0733 -0.0327  0.1010  0.0698 -0.0071  0.0001
24  0.0027  0.1396  0.0254  0.1291  0.1224  0.1072  0.0003
25  0.0216 -0.0780 -0.1930 -0.0315 -0.0780  0.0373  0.0003
26  0.0155  0.0707  0.1222  0.0624  0.0722 -0.0002  0.0003
27  0.0013  0.0682 -0.0629  0.0018  0.0830  0.0249  0.0003
28  0.0027  0.0327  0.0029  0.0636  0.0187  0.0649  0.0005
29  0.0227  0.0162 -0.0512 -0.0002  0.0070  0.0358  0.0004
30  0.0401 -0.2230 -0.1764 -0.1523 -0.2073 -0.1455  0.0003
31  0.0097  0.0599 -0.0009  0.1214  0.0505  0.1524  0.0003
32  0.0172  0.0255  0.0397  0.0603  0.0150  0.1007  0.0004
33  0.0361 -0.1216 -0.1130 -0.1130 -0.1596 -0.0398  0.0004
34  0.0245  0.1986  0.2325  0.1164  0.1800  0.1315  0.0006
35 -0.0133  0.0725  0.2093  0.1168  0.0661  0.0744  0.0005
36  0.0036 -0.1023  0.0211 -0.1067 -0.1289 -0.3203  0.0037
37  0.0178  0.2711  0.2621  0.1692  0.2494  0.2996  0.0015
38  0.0370  0.1925  0.2409  0.1653  0.2075  0.3463  0.0009
39  0.0010  0.0427  0.1034  0.0584  0.0179  0.0911  0.0007
40  0.0221 -0.0903  0.0846 -0.0948 -0.0829  0.0214  0.0100
41 -0.0107 -0.0166  0.1147 -0.0154 -0.0151 -0.0533  0.0062
42 -0.0039 -0.1974 -0.4256 -0.0852 -0.1886  0.0536  0.0059
43  0.0440 -0.2316 -0.3666 -0.2272 -0.2051 -0.3815  0.0068
44  0.0147  0.0296  0.0885  0.0136  0.0325  0.0339  0.0130
45 -0.0063  0.0888  0.1322  0.0607  0.0833 -0.0935  0.0131
46  0.0295  0.0408  0.0717  0.0156  0.0270  0.0240  0.0133
47  0.0310 -0.0037  0.0307 -0.0332 -0.0193 -0.1288  0.0125

There are two ways to calculate covariance matrix.
$$\Sigma = \frac{1}{\text{# of observations}}S S^T,$$ where $S$ is the demeaned return matrix.

Another way is to use numpy's cov method.

numpy.cov(m, y=None, rowvar=True, bias=False, ddof=None, fweights=None, aweights=None)

Here rowvar = False since we have each column as a variable.
bias = True since we want to divide by N but not (N-1).

In [223]:
# brute force way to directly compute it
# step one, demean the matrix
mean_vec = np.mean(return_mat, axis = 0)
return_mat -= mean_vec

cov_matt = return_mat.T @ return_mat / len(bond_vec)
pd.DataFrame(cov_matt)

          0         1         2         3         4         5         6
0  0.000271 -0.000237  0.000431 -0.000403 -0.000239  0.000086  0.000007
1 -0.000237  0.010570  0.010673  0.007272  0.009609  0.007314 -0.000064
2  0.000431  0.010673  0.024633  0.006886  0.009925  0.008109  0.000017
3 -0.000403  0.007272  0.006886  0.006540  0.006867  0.007096 -0.000091
4 -0.000239  0.009609  0.009925  0.006867  0.009154  0.007008 -0.000057
5  0.000086  0.007314  0.008109  0.007096  0.007008  0.014026 -0.000144
6  0.000007 -0.000064  0.000017 -0.000091 -0.000057 -0.000144  0.000015

In [224]:
cov_mat = np.cov(return_mat, rowvar = False, bias = True)
pd.DataFrame(cov_mat)

          0         1         2         3         4         5         6
0  0.000271 -0.000237  0.000431 -0.000403 -0.000239  0.000086  0.000007
1 -0.000237  0.010570  0.010673  0.007272  0.009609  0.007314 -0.000064
2  0.000431  0.010673  0.024633  0.006886  0.009925  0.008109  0.000017
3 -0.000403  0.007272  0.006886  0.006540  0.006867  0.007096 -0.000091
4 -0.000239  0.009609  0.009925  0.006867  0.009154  0.007008 -0.000057
5  0.000086  0.007314  0.008109  0.007096  0.007008  0.014026 -0.000144
6  0.000007 -0.000064  0.000017 -0.000091 -0.000057 -0.000144  0.000015

Inverse covariance matrix is simply the inverse of covariance matrix.

In [225]:
inv_cov_mat = la.inv(cov_mat)
pd.DataFrame(inv_cov_mat)

,0,1,2,3,4,5,6
0,6312.563111,-337.077387,-224.615591,1658.626805,-71.740810,-531.508342,482.750886
1,-337.077387,2153.492477,-40.560168,-258.478903,-2093.680366,87.185470,746.522739
2,-224.615591,-40.560168,86.000329,-14.633024,-48.086385,-0.384294,-451.660230
3,1658.626805,-258.478903,-14.633024,1529.487468,-533.452092,-353.613701,2011.783630
4,-71.740810,-2093.680366,-48.086385,-533.452092,2747.041942,-0.112238,-1693.115073
5,-531.508342,87.185470,-0.384294,-353.613701,-0.112238,213.978195,555.903455
6,482.750886,746.522739,-451.660230,2011.783630,-1693.115073,555.903455,83864.147281

Perhaps one feature is that the diagonal terms are usually larger than the off-diagonal terms.

In [226]:
pd.DataFrame(cov_mat[0:-1,0:-1])

          0         1         2         3         4         5
0  0.000271 -0.000237  0.000431 -0.000403 -0.000239  0.000086
1 -0.000237  0.010570  0.010673  0.007272  0.009609  0.007314
2  0.000431  0.010673  0.024633  0.006886  0.009925  0.008109
3 -0.000403  0.007272  0.006886  0.006540  0.006867  0.007096
4 -0.000239  0.009609  0.009925  0.006867  0.009154  0.007008
5  0.000086  0.007314  0.008109  0.007096  0.007008  0.014026

# Calulate Sharpe Rate of CAPM

In [233]:
# the risk free rate is given by mean rate of return of the money market account
risk_free = mean_vec[-1]
print("risk free rate", risk_free)

risk free rate 0.0027229166666666673

We calculate the weights of the market portfolio of by finding the tangent line, i.e. the maximum slope.
The slope is given by $$\text{slope} = \frac{\Delta\mu-R_f}{\Delta\sigma} = \frac{\mu_m-R_f}{\sigma_m},$$ where $\mu_m$ is the return of the market portfolio and $\sigma_m$ is the standard deviation of market portfolio.

Suppose the market portfolio is given by a vector of weights $\vec{w},$ whose elements sum up to 1. Then our goal is to $$\max \frac{\vec{w}^T\vec{m}-R_f}{\sqrt{\vec{w}^T C \vec{w}}},$$ 
subject to $$\sum_{i=1}^{n} w_i = 1, $$where $\vec{m}$ is the mean return of $n$ assets and $C$ is the var-cov matrix.

In [236]:
import scipy.optimize as opt
def get_market_ptf(m, C, Rf):
    n = len(m)
    # we use method of lagrange multiplier to solve the problem
    # n+1 unknowns, first n are weights, last one is lambda
    def get_sig_star(unknowns):
        weights = np.array(unknowns[0:n])
        return math.sqrt(weights @ C @ weights)
    def get_mu_star(unknowns):
        weights = np.array(unknowns[0:n])
        return weights @ m
    
    def obj_func(unknowns):
        # the objective function is given by taking partial derivatives
        weights = np.array(unknowns[0:n])
        obj_vec = m*get_sig_star(unknowns) - ((get_mu_star(unknowns) - Rf)/get_sig_star(unknowns))*(C@weights) - unknowns[-1]*get_sig_star(unknowns)**2
        
        sum_of_weights = 0
        for x in weights:
            sum_of_weights += x
        obj_vec = np.append(obj_vec, 1-sum_of_weights)
        return obj_vec
    
    init_guess = np.ones(n)/n
    init_guess = np.append(init_guess, 1)
    s = opt.fsolve(obj_func, init_guess)
    print(s)
    #unknowns = [1,1,1,2]
    #print(obj_func(unknowns))

In [239]:
get_market_ptf(mean_vec[0:-1],cov_mat[0:-1,0:-1],risk_free)

[ 1.08038808 -3.2782587   0.10617476 -1.53386841  4.57633317  0.04923033
  0.12302792]

/Users/Zeshun/anaconda3/lib/python3.6/site-packages/scipy/optimize/minpack.py:163: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last five Jacobian evaluations.
  warnings.warn(msg, RuntimeWarning)

In [241]:
1.08038808+ -3.2782587  + 0.10617476+ -1.53386841  +4.57633317  +0.04923033

0.9999992299999999

In [242]:
# direcly use minimize method to find martket ptf
def get_market_ptf2(m, C, Rf):
    n = len(m)
    
    # the unknowns consist of (n-1) indep variables, the last one being sum_of_weights minus the sum of previous guys
    def obj_func(unknowns):
        weight = np.append(unknowns, 1 - unknowns.sum())
        numer = weight @ m - Rf
        denom = math.sqrt(weight@C@weight)
        return - numer/denom
    
    init_guess = np.ones(n-1)/(n-1)
    result = opt.minimize(obj_func, init_guess)
    #print(result)
    # if successfully found the optimal portfolio 
    if result.status == 0:   
        return np.append(result.x, 1-result.x.sum())
    else:
        print('Fail to find')
    
mkt_ptf = get_market_ptf2(mean_vec[0:-1],cov_mat[0:-1,0:-1],risk_free)
mkt_ptf

array([ 0.89639007,  0.14628462, -0.04022109,  0.38523361, -0.2995924 ,
       -0.08809481])

In [243]:
# multiply this by 1.5
total_weights = 1.5 * mkt_ptf 
total_weights = np.append(total_weights, -0.5)
print("Weight distribution: ", total_weights)
total_weights.sum()

Weight distribution:  [ 1.34458511  0.21942693 -0.06033163  0.57785041 -0.44938861 -0.13214221
 -0.5       ]

1.0

In [245]:
pd.DataFrame(cov_mat)

          0         1         2         3         4         5         6
0  0.000271 -0.000237  0.000431 -0.000403 -0.000239  0.000086  0.000007
1 -0.000237  0.010570  0.010673  0.007272  0.009609  0.007314 -0.000064
2  0.000431  0.010673  0.024633  0.006886  0.009925  0.008109  0.000017
3 -0.000403  0.007272  0.006886  0.006540  0.006867  0.007096 -0.000091
4 -0.000239  0.009609  0.009925  0.006867  0.009154  0.007008 -0.000057
5  0.000086  0.007314  0.008109  0.007096  0.007008  0.014026 -0.000144
6  0.000007 -0.000064  0.000017 -0.000091 -0.000057 -0.000144  0.000015

In [244]:
print("Individual asset returns:", mean_vec)
print("asset expected return:" , total_weights @ mean_vec)
print("asset expected risk(var):", (total_weights@ cov_mat @ total_weights))

Individual asset returns: [ 0.00965625  0.01541875 -0.00267292  0.02096667  0.00808542  0.01794167
  0.00272292]
asset expected return: 0.021277993338838126
asset expected risk(var): 0.00041803803302062765

Observe that the expected return of this portfolio is higher than every one on the market, while the risk (measured by variance) is lower than 5 out of the 7 securities.

# Question 4

In [251]:
# weights
pd.DataFrame(total_weights)

          0
0  1.344585
1  0.219427
2 -0.060332
3  0.577850
4 -0.449389
5 -0.132142
6 -0.500000

In [252]:
# inverse covariance matrix
pd.DataFrame(inv_cov_mat)

,0,1,2,3,4,5,6
0,6312.563111,-337.077387,-224.615591,1658.626805,-71.740810,-531.508342,482.750886
1,-337.077387,2153.492477,-40.560168,-258.478903,-2093.680366,87.185470,746.522739
2,-224.615591,-40.560168,86.000329,-14.633024,-48.086385,-0.384294,-451.660230
3,1658.626805,-258.478903,-14.633024,1529.487468,-533.452092,-353.613701,2011.783630
4,-71.740810,-2093.680366,-48.086385,-533.452092,2747.041942,-0.112238,-1693.115073
5,-531.508342,87.185470,-0.384294,-353.613701,-0.112238,213.978195,555.903455
6,482.750886,746.522739,-451.660230,2011.783630,-1693.115073,555.903455,83864.147281

In [254]:
# mean return
mean_vec

array([ 0.00965625,  0.01541875, -0.00267292,  0.02096667,  0.00808542,
        0.01794167,  0.00272292])

Observe that the "optimal" allocation we used gives large weights to securities whose inverse covariance term is large.

# Question 5

40% bond_index + 5% int_growth + 5% metal + 40% stock_index + 5% int_value + 5% reit

Since we can only solve for the proportion of returns, wlog suppose the returns add up to 1.
Given $\vec{w}$, we choose $\vec{m}$ to $$ \max \frac{\vec{w}^T\vec{m}-R_f}{\sqrt{\vec{w}^T C \vec{w}}},$$ subject to $$\sum_i m_i = 1.$$

In [255]:
recommend_weights = np.array([0.4, 0.05, 0.05, 0.4, 0.05, 0.05])

In [258]:
def get_optimal_return(weights, C, Rf):
    # there are 5 knowns, the other being 1- sum of the five
    
    def obj_func(unknowns):
        m_vec = np.append(unknowns, 1-unknowns.sum())
        numer = weights @ m_vec - Rf
        denom = math.sqrt(weights @ C @ weights)
        return - numer / denom
    
    init_guess = np.array([0.2, 0.2, 0.2, 0.2, 0.2])
    result = opt.minimize(obj_func, init_guess)
    return result
    
get_optimal_return(recommend_weights, cov_mat[0:-1,0:-1],risk_free)

      fun: -2862953073.332108
 hess_inv: array([[ 7.94945684e+06, -3.38212009e-02,  0.00000000e+00,
         7.94945584e+06,  9.61360468e-01],
       [-3.38212009e-02,  1.00000000e+00,  0.00000000e+00,
        -3.38212009e-02, -4.09013885e-09],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00],
       [ 7.94945584e+06, -3.38212009e-02,  0.00000000e+00,
         7.94945684e+06,  9.61360468e-01],
       [ 9.61360468e-01, -4.09013885e-09,  0.00000000e+00,
         9.61360468e-01,  9.99999992e-01]])
      jac: array([0., 0., 0., 0., 0.])
  message: 'Optimization terminated successfully.'
     nfev: 112
      nit: 2
     njev: 16
   status: 0
  success: True
        x: array([ 2.04355301e+08, -6.69435800e-01,  2.00000000e-01,  2.04355301e+08,
        2.68630512e+01])

Observe that since most weights are given to bond index fund and stock index fund. So ideally we want them to be enormously large. I don't think this makes sense in real life.

# Question 6
don't know how to do